

.letter-a{
    position: absolute;
    top: 150px;
    left: 100px;
}

.a-counter {
    width: 20px;
    height: 55px;
    background: white;
    position: absolute;
  }
.a-counter::before {
    content: "";
    position: absolute;
    top: -30px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid white;
  }
  .a-counter::after {
    content: "";
    position: absolute;
    bottom: -30px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid white;
  }
/* hexagonal shape -> https://css-tricks.com/the-shapes-of-css/ */
  .a-bowl{
      top: -40px;
      width: 90px;
      left: -40px;
      position: absolute;
      height: 140px;
      background: black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
    z-index: -1;
  }

.a-the-thing-that-connects-terminal-and-stem{
    position: absolute;
    left: 40px;
    top: -40px;
    width: 50px;
    height: 40px;
    background: black;
}
.a-counter-open{
    position: absolute;
    left: -20px;
    top: -17px;
    width: 68px;
    height: 40px;
    background: white;
    border-bottom-right-radius: 100%;
    border-bottom: 20px solid white;

}

/* ATTEMPT 2 */
.letter-a{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 50px;
}

.a-stem1{
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 200px solid black;
    z-index: -2;
}

/* .a-stem1{
    position: absolute;
    left: 128px;
    top: 30px;
    width: 5px;
    height: 200px;
    background: black;
    transform: rotate(-20deg);
}
.a-stem2{
    position: absolute;
    top: 30px;
    left: 45px;
    width: 5px;
    height: 200px;
    background: black;
    transform: rotate(20deg);
    z-index: -3;
} */

/* .a-apex-bar{
    position: absolute;
    top: 45px;
    left: 20px;
    height: 5px;
    width: 130px;
    background: black;
} */

.a-serif1 {
    position: absolute;
    top: 200px;
    left: 105px;
    width:2px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid black;
    }

  .a-serif1::before {
    content: " ";
    position: absolute;
    height: 85px;
    width: 50px;
    top: -30px;
    left: 20px;
    background: white;
    transform: rotate(-70deg);
    border-radius: 200%;
}
.a-serif1::after {
    content: " ";
    position: absolute;
    height: 85px;
    width: 50px;
    top: -30px;
    left: -67px;
    background: white;
    transform: rotate(70deg);
    border-radius: 200%;
}

.a-serif2{
    position: absolute;
    top: 200px;
    width:2px;
    left: -30px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid black;
    z-index: -2;

}
.a-serif2::before {
    content: " ";
    position: absolute;
    height: 85px;
    width: 50px;
    top: -30px;
    left: 20px;
    background: white;
    transform: rotate(-70deg);
    border-radius: 200%;
}
.a-serif2::after {
    content: " ";
    position: absolute;
    height: 85px;
    width: 50px;
    top: -30px;
    left: -67px;
    background: white;
    transform: rotate(70deg);
    border-radius: 200%;
}


/* .letter-a{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 50px;
    width: 25px;
    height: 0px;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 230px solid black;
    z-index: -1;
}

.a-counter{
    position: absolute;
    left: -2px;
    top: 20px;
    width: 20px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom: 100px solid white;
}
 */
    /* .a-serif1::after {
        content: " ";
        position: absolute;
        height: 80px;
        width: 50px;
        top: -25px;
        left: -65px;
        background: white;
        transform: rotate(70deg);
        border-radius: 200%;
        }
      
     */

/* 
.a-counter{
    position: absolute;
    left: -45px;
    top: 20px;
    width: 5px;
    height: 0px;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 250px solid white;
}
 */

 /* ATTEMPT 3 */
 .letter-a{
    position: absolute;
    left: 65px;
    top: 50px;
    width: 20px;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 220px solid black;
}

.a-counter{    
    position: absolute;
    top: 50px;
    left: -10px;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 90px solid white;
}

.a-counter-open{
    position: absolute;
    top: 150px;
    left: -10px;
    width: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 90px solid white;
    transform: rotate(180deg);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;

}
/* .a-counter-open{
    position: absolute;
    top: 160px;
    left: 24px;
      width: 130px;
      height: 80px;
      background: white;
      border-radius: 100%;
      border-top-left-radius: 40%;
      z-index: 3;
*/

/* .k-serif-arm{
    position: absolute;
    top: -27px;
    width:2px;
    left: 85px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid black;
    z-index: -2;
    transform: rotate(-90deg);
}
.k-serif-arm::before {
    content: " ";
    position: absolute;
    height: 85px;
    width: 50px;
    top: -0px;
    left: 4px;
    background: white;
}
.k-serif-arm::after {
    content: " ";
    position: absolute;
    height: 85px;
    width: 50px;
    top: -30px;
    left: -67px;
    background: white;
    transform: rotate(70deg);
    border-radius: 200%;
} */


/* .a-stem1{
    position: absolute;
    left: 154px;
    top: 100px;
    width: 5px;
    height: 130px;
    background: black;
}

.a-stem2{
    position: absolute;
    top: 100px;
    left: 19px;
    width: 5px;
    height: 130px;
    background: black;
    z-index: -3;
} */
