body{
    background: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 5%;
    
}
#wrapper{
    display: flex;
    position: relative;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#title{
    position:relative;
    /* top: -40px; */
    transform: scale(0.5);
    z-index: -1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    width: 500px;

}

.s-black{
    right: 30px;
}

.t-black .a-black .r-black{
    left: 20px;
}

p{
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.199);
    padding: 1em;
    font-size: 18px;
}
.col-1 p:hover, .col-1 a:hover{
    color: rgb(238, 132, 238);
}

.col-2 p:hover, .col-2 a:hover{
    color: rgb(132, 217, 238);
}

.col-3 p:hover, .col-3 a:hover{
    color: rgb(227, 238, 132);
}
.col-1-1 p:hover, .col-1-1 a:hover{
    color: rgb(132, 238, 132);
}


h1{
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.295);
    font-size: 18px;
    padding-left: 1em;
    padding-top: 1em;

}

#container{
    display: flex;
    position: relative;
    top: -50px;
    width: 85%;
    height: 700px;
    border: 1px solid rgb(145, 138, 138);
    justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;

}

.col-1{
    display: inline-block;
}

#make-a-wish{
    display: flex;
    justify-content: space-around;
    margin-left:-200px ;
    margin-right:-200px ;
    position: relative;
    top: -550px;
    z-index: -1;
    transform: scale(0.4);
}

#name{
    transform: scale(0.2);
}

a, a:visited{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.295);
}

#get-inspired{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    transform: scale(0.7);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#get{
    position: relative;
    left: -50px;
}
#inspired .letter-i{
    position: relative;
    left: -10px;
}
#inspired .letter-s ,#inspired .letter-p{
    position: relative;
    left: 12px;
}